@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Roboto+Slab:wght@100;400&display=swap');

body {
    background-color: var(--offWhite);
}

/* * {
    --offWhite: #ebf2fa;
    --offBlack: #1d201f;
    --highLight: #f07167;
    --gray: rgb(96, 96, 96);
    --lowLight: #40798c;
  
  } */

/* CREATE ACCOUNT PAGE CSS */
.AdminCreateAccount {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    text-align: center;

}

#CreateAccount {
    font-size: 1.6rem;
    /* text-decoration: underline var(--highLight); */
    padding-top: 15px;
    font-family: 'Montserrat', sans-serif;
}

.inputBox {
    margin-bottom: 8%;
    padding: 2%;
    /* box-shadow: 5px 5px 10px 2px; */
    /* border-radius: 10px 140px 30px 140px; */
    border: 1px solid var(--gray);
    text-align: center;
    box-shadow: 4px 3px 3px var(--gray);
    border-radius: 8px;
    width: 20rem;
    font-family: 'Roboto Slab', serif;
}

#AdminCreateAccountBTN {
    background-color: #40798C;
    border: none;
    border-radius: 8px;
    border-style: none;
    background-color: var(--lowLight);
    cursor: pointer;
    height: 40px;
    padding: 10px 16px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    transition: ease .5s;
    font-size: 1.2rem;
    box-shadow: 6px 5px 5px var(--gray);
}


#AdminCreateAccountBTN:hover {
    background-color: var(--highLight);
    cursor: pointer;
    transform: scale(1.1);
    color: white;

}

#AdminCreateAccountBTN:active {
    background-color: lightgreen;
    box-shadow: 0 5px lightcoral;
    transform: translate(4px);
}





/* NAV BAR CSS */
.NavBar {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    flex-direction: row;
    justify-content: space-evenly;
}

.NavBarTitle {
    /* margin-left: auto;
    margin-right: auto; */
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 5rem;
    color: var(--highLight);
    font-family: 'Primeform Pro', sans-serif;

}

.NavBarComp {
    /* margin-left: 17%; */
    border: none;
    border-radius: 8px;
    background-color: var(--lowLight);
    cursor: pointer;
    height: 40px;
    padding: 10px 13px;
    text-align: center;
    font-family: 'Primeform Pro';
    transition: ease .5s;
    color: var(--offBlack);
    font-size: 1rem;
    box-shadow: 6px 5px 5px var(--gray);
}

.NavBarComp:hover {
    background-color: var(--highLight);
    cursor: pointer;
    transform: scale(1.1);
    color: white;
}

/* .NavBarComp:active {
    box-shadow: 0 5px lightcoral;
    transform: scale(1.1);
} */

#LogOutBTN {
    position: relative;
    bottom: -30px;
    margin-left: 90%;
    border: none;
    border-radius: 8px;
    border-style: none;
    background-color: var(--lowLight);
    cursor: pointer;
    height: 40px;
    padding: 10px 16px;
    text-align: center;
    font-size: 1rem;
    font-family: 'Primeform Pro';
    transition: ease .5s;
    box-shadow: 6px 5px 5px var(--gray);
}

#LogOutBTN:hover {
    background-color: var(--highLight);
    cursor: pointer;
    transform: scale(1.1);
    color: white;
}

.error-reg {
    width: 5rem;
    height: 1rem;
    /* margin: 10px 0px 0px 0px; */
    color: red;
    margin-top: 0rem;
}


.AccountLables {
    display: flex;
    /* border: 1px solid green; */
    margin: auto;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    width: 64rem;
    align-items: center;
    /* margin-inline-start: 0rem; */
    flex-direction: row;
    /* margin-inline-start: 6rem; */
    /* gap: 6px; */
    margin-top: 2.2rem;
    margin-bottom: 1rem;
}

.ManageDiv {
    border: 2px solid var(--offBlack);
    width: 70rem;
    margin: auto;
    background-color: white;
    border-radius: 25px;
    box-shadow: 6px 5px 5px var(--gray);
    padding-bottom: 2rem;
}

.singleTicketContainer {
    height: 25rem;
    overflow: overlay;
    margin-bottom: 2rem;
}

.editBtns {
    border: none;
    border-radius: 8px;
    background-color: var(--lowLight);
    cursor: pointer;
    height: 40px;
    padding: 10px 13px;
    text-align: center;
    transition: ease .5s;
    color: var(--offBlack);
    font-size: 1rem;
    box-shadow: 6px 5px 5px var(--gray);
    margin: 1rem;
}

.editBtns:hover {
    background-color: var(--highLight);
    cursor: pointer;
    transform: scale(1.1);
    color: white;
}

.editForm {
    font-family: 'Primeform Pro';
    justify-content: center;
    width: 18rem;
}

.module-box {
    border: 2px solid var(--offBlack);
    background-color: white;
    border-radius: 25px;
    box-shadow: 6px 5px 5px var(--gray);
    width: 15rem;
}