/* * {
    --offWhite: #ebf2fa;
    --offBlack: #1d201f;
    --highLight: #f07167;
    --gray: rgb(96, 96, 96);
    --lowLight: #40798c;
  
  } */



.Header {
    color: black;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid;
    width: 62rem;
    margin: auto;
}

.Data_Table {
    color: black;
    display: flex;
    justify-content: space-evenly;
    width: 62rem;
    margin: auto;
}

.AccountTable{
    width: 62rem;
    margin: 0;

    text-align: left;
}

.AccountTableCells{
    width: 14rem;
    border: 1px solid var(--lowLight);
    font-size: 1rem;
    /* background-color: white; */
    border-left: none;
    /* border-right: none; */
    border-top: none;
    height: 35px;
    font-family: 'Roboto Slab', serif;
    color: var(--gray);
}

.AccountTableCells2 {
    width: 12.5rem;
    border: 1px solid var(--lowLight);
    font-size: 1rem;
    /* background-color: white; */
    border-left: none;
    /* border-right: none; */
    border-top: none;
    height: 35px;
    font-family: 'Roboto Slab', serif;
    color: var(--gray);
}

.AccountTableCells3 {
    width: 12rem;
    border: 1px solid var(--lowLight);
    font-size: 1rem;
    /* background-color: white; */
    border-left: none;
    /* border-right: none; */
    border-top: none;
    height: 35px;
    font-family: 'Roboto Slab', serif;
    color: var(--gray);
}

.AccountTableCells4 {
    width: 15rem;
    border: 1px solid var(--lowLight);
    font-size: 1rem;
    /* background-color: white; */
    border-left: none;
    /* border-right: none; */
    border-top: none;
    height: 35px;
    font-family: 'Roboto Slab', serif;
    color: var(--gray);
}

.editBTN {
    padding-left: 1.3rem;
    width: 3rem;
}

.ManageAccountH2{
    justify-content: space-evenly;
    display: flex;
    font-size: 1.9rem;
    /* text-decoration: underline var(--highLight); */
    padding-top: 1px;
    font-family: 'Montserrat', sans-serif;
}

.Lables {
    text-decoration: underline var(--highLight);
}

