/* * {
    --offWhite: #ebf2fa;
    --offBlack: #1d201f;
    --highLight: #f07167;
    --gray: rgb(96, 96, 96);
    --lowLight: #40798c;
  
  } */



.Header {
    color: black;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid;
    width: 62rem;
    margin: auto;
}

.Data_Table {
    color: black;
    display: flex;
    justify-content: space-evenly;
    width: 62rem;
    margin: auto;
}

/* .AccountTable{
    width: 62rem;
    margin: 0;

    text-align: left;
} */

/* .AccountTableCells{
    width: 14rem;
    border: 1px solid var(--lowLight);
    font-size: 1rem; */
    /* background-color: white; */
    /* border-left: none; */
    /* border-right: none; */
    /* border-top: none;
    height: 35px;
    font-family: 'Roboto Slab', serif;
    color: var(--gray);
} */

/* .AccountTableCells2 {
    width: 12.5rem;
    border: 1px solid var(--lowLight);
    font-size: 1rem; */
    /* background-color: white; */
    /* border-left: none; */
    /* border-right: none; */
    /* border-top: none;
    height: 35px;
    font-family: 'Roboto Slab', serif;
    color: var(--gray);
} */

/* .AccountTableCells3 {
    width: 12rem;
    border: 1px solid var(--lowLight);
    font-size: 1rem; */
    /* background-color: white; */
    /* border-left: none; */
    /* border-right: none; */
    /* border-top: none;
    height: 35px;
    font-family: 'Roboto Slab', serif;
    color: var(--gray);
} */

/* .AccountTableCells4 {
    width: 15rem;
    border: 1px solid var(--lowLight);
    font-size: 1rem; */
    /* background-color: white; */
    /* border-left: none; */
    /* border-right: none; */
    /* border-top: none;
    height: 35px;
    font-family: 'Roboto Slab', serif;
    color: var(--gray);
} */

.AccountTableCells,
.AccountTableCells2,
.AccountTableCells3,
.AccountTableCells4{
    width: 14rem;
    border: 1px solid var(--lowLight);
    font-size: 1rem;
    /* background-color: white; */
    border-left: none;
    /* border-right: none; */
    border-top: none;
    height: 35px;
    font-family: 'Roboto Slab', serif;
    color: var(--gray);
    text-align: center;
}
.AccountTableCell5{
    width: 6rem;
    border: 1px solid var(--lowLight);
    /* font-size: 1rem; */
    /* background-color: white; */
    border-left: none;
    /* border-right: none; */
    border-top: none;
    height: 35px;
    /* font-family: 'Roboto Slab', serif; */
    color: var(--gray);
    text-align: center;
    display: flex;
    align-items: center;
}

.editBTN {
    padding-left: 1.3rem;
    width: 3rem;
}

.ManageAccountH2{
    justify-content: space-evenly;
    display: flex;
    font-size: 1.9rem;
    /* text-decoration: underline var(--highLight); */
    padding-top: 1px;
    margin-bottom: 2rem;
    font-family: 'Primeform Pro';
}

.Lables {
    -webkit-text-decoration: underline var(--highLight);
    text-decoration: underline var(--highLight);
    width: 14rem;
    text-align: center;
    font-size: 1.5rem;
    margin-inline-start: 5px;
    font-family: 'Primeform Pro';
}
.edit-Lables{
    -webkit-text-decoration: underline var(--highLight);
    text-decoration: underline var(--highLight);
    font-size: 1.5rem;
    font-family: 'Primeform Pro';
    margin-inline-start: 2.2rem;
    width: 3rem;
}

.AccountsContainer{
    overflow: overlay;
    height: 27rem;
}

.AccountContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-between;
    gap: 0.5rem;
}

