* {
    --offWhite: #ebf2fa;
    --offBlack: #1d201f;
    --highLight: #f07167;
    --gray: rgb(96, 96, 96);
    --lowLight: #40798c;

}

body {
  background-color: var(--offWhite);
}

  .Line {
    border-color: var(--offBlack);
    border-style: solid;
    border-width: 1px;
    margin-top: auto;
    margin-bottom: auto;
    height: 16rem;
  }


  .singlePageContainer {
    background-color: white;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    gap: 6rem;
    justify-content: center;
    border-style: solid;
    border-width: medium;
    width: 60%;
    height: 25rem;
    border-radius: 15px;
  }

  .SingleTicket {
    border-style: solid;
    border-width: 1px;
    width: 35%;
    height: 85%;
    margin-top: 15px;
    border-radius: 15px;
  }

  .TicketTitle {
    color: var(--lowLight);
    font-size: 22px;
  }

  .ticketDescrip {
    color: var(--gray);
  }

  #camp {
    color: var(--lowLight);
  }

  #highlight {
    color: var(--offBlack)
  }