:root {
  box-sizing: border-box;
}

* {
  --offWhite: #ebf2fa;
  --offBlack: #1d201f;
  --highLight: #f07167;
  --gray: rgb(96, 96, 96);
  --lowLight: #40798c;

}

.ticket {
  height: 5rem;
  border: 3px solid var(--gray);
  margin: 1rem;
  border-radius: 10px;
  transition: ease-in-out .1s;
}
.ticket:hover {
  cursor: pointer;
  border: 3px solid var(--offBlack);
  transform: scale(0.98);
}

.navbar {
  width: 100vw;
  height: 3rem;
  border: 0.1px solid black;
  border-radius: 5px;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
  /* background-color: ; */
  margin-top: 0;
}

.search {
  outline: 0;
  width: 90%;
  height: 80%;
  border-radius: 5px;
  border: 1px solid rgba(169, 166, 166, 0.52);
  padding: 0 2rem;
}

.postsearch {
  outline: 0;
  width: 10rem;
  height: 90%;
  border-radius: 5px;
  /* border: 1px solid rgb(169, 166, 166); */
  /* padding: 0 2rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 0.5rem 1rem;
  border: 0;
  cursor: pointer;
}
.signoff {
  height: 2.5rem;
  border: 0;
  background-color: #222;
  color: aliceblue;
  border-radius: 5px;
  margin: 0 1rem;
  padding: 5px;
  width: 4.5rem;
}
.presearch {
  outline: 0;
  width: 25rem;
  height: 90%;
  border-radius: 5px;
  /* border: 1px solid rgb(169, 166, 166); */
  /* padding: 0 2rem; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navlink {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  font-weight: 900;
}
.logo {
  max-height: 3rem;
  color: rgb(234, 79, 55);
}
.usernav {
  font-weight: 200;
}
body {
  margin: 0;
}

.mainticket {
  /* border: 1px solid red; */
  display: flex;
  height: 100%;
  width: 100vw;
  margin: auto;
  overflow: hidden;
}
.menubars {

  position: absolute;
  right: 0.5rem;
  top: 1.4rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.open-sidenav {
  width:15%;
  position: relative;
  /* display: none; */
  background-color: rgb(185, 185, 220);
  overflow: hidden;

}
.close-sidenav {
  /* display: none; */
  width: 2%;
  /* background-color: rgb(185, 185, 220); */
  position: relative;
}

.unclaimed-tickets {
  /* border: 1px solid blue; */
  width: 50%;
  height: inherit;
  overflow:scroll;
  overflow-x:hidden;
}
.claimed-tickets {
  /* border: 1px solid green; */
  width: 50%;
  height: inherit;
  overflow:scroll;
  overflow-x:hidden;
}
.ticket-board {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding-left: 4%;
}
.ticket-board {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding-top: 1rem;
}
.portal-text {
  text-align: center;
  /* border: 1px solid #222; */
  width: 100%;
  height: 2rem;
  /* display: inline; */
  position: sticky;
}
.all-tickets {
  /* background-color: aqua; */
  height: 100%;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-evenly;
}
.claimed-oneticket {
  background-color: var(--highLight);
}
.unclaimed-oneticket {
  background-color: var(--lowLight);
}

/* @media screen and (min-width: 768px) {
  .unclaimed-tickets {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 20rem;
  }
} */

/* @media screen and (min-width: 768px) {
  .claimed-tickets {
    display: grid;
    width: 20rem;

    grid-template-columns: repeat(1, 1fr);
  }
} */

/* @media screen and (min-width: 1024px) {
  .unclaimed-tickets {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 30rem;
  }
  /* .ticket {
    height: 3rem;
    width: 2rem;
    border: 1px solid red;
    margin: 1rem;
  } */
/* } */
/* @media screen and (min-width: 1024px) {
  .claimed-tickets {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    width: 30rem;
  }
  .claimed-oneticket {
    height: 5rem;
    width: 10rem;
    border: 1px solid red;
    margin: 1rem;
  }
} */

/* @media screen and (min-width: 1324px) {
  .unclaimed-tickets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 40rem;
  }
  /* .ticket {
    height: 3rem;
    width: 2rem;
    border: 1px solid red;
    margin: 1rem;
  } */

/* @media screen and (min-width: 1324px) {
  .claimed-tickets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    width: 40rem;
  }
  .claimed-oneticket {
    height: 5rem;
    width: 8rem;
    border: 1px solid red;
    margin: 1rem;
  }
} */
.menu-items{
  margin-top: 5rem;
  list-style: none;
  height: 20rem;
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  
 
}
.menu-items-hide li {
  display: none
}
.menu-items li {
  font-weight: 200;

}
.menu-list{
  font-size: 1rem;
  /* background-color: beige; */
  height: 3rem;
  width: 16em;
  padding-left: 4rem;
  padding-top: 1rem;
  cursor: pointer;

}
.menu-list:hover {
  background-color: rgb(160, 160, 232);
  transition: 0.25s;

}

.menu-icon {
  margin-right: 0.1rem;
}