@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Roboto+Slab:wght@100;400&display=swap");
:root {
  box-sizing: border-box;
}

/* * {
  --offWhite: #ebf2fa;
  --offBlack: #1d201f;
  --highLight: #f07167;
  --gray: rgb(96, 96, 96);
  --lowLight: #40798c;

} */

.ticket:hover {
  cursor: pointer;
  border: 1px solid red;

  /* transform: scale(1.02); */
}

.navbar {
  font-family: "Roboto Slab", serif;
  width: 100vw;
  height: 3rem;
  /* border: 0.1px solid black; */
  border-radius: 5px;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
  /* background-color: ; */
  margin-top: 0;
}

.search {
  outline: 0;
  width: 90%;
  height: 80%;
  border-radius: 5px;
  border: 1px solid rgba(169, 166, 166, 0.52);
  padding: 0 2rem;
  font-family: "Roboto Slab", serif;
}

.postsearch {
  outline: 0;
  width: 10rem;
  height: 90%;
  border-radius: 5px;
  /* border: 1px solid rgb(169, 166, 166); */
  /* padding: 0 2rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Slab", serif;
}

.btn {
  padding: 0.5rem 1rem;
  border: 0;
  cursor: pointer;
  font-family: "Roboto Slab", serif;
}
.signoff-btn {
  height: 2.5rem;
  border: 0;
  background-color: var(--lowLight);
  color: var(--offBlack);
  border-radius: 5px;
  margin: 0 1rem;
  padding: 5px;
  width: 7rem;
  padding: 0.5rem 1rem;
  border: 0;
  cursor: pointer;
  font-family: 'Roboto Slab', serif;
  transition: ease .5s;
  box-shadow: 3px 2px 2px var(--gray);
  font-size: 1rem;
}

.signoff-btn:hover {
  background-color: var(--highLight);
  cursor: pointer;
  color: white;
  transform: scale(1.1);
}
.presearch {
  outline: 0;
  width: 25rem;
  height: 90%;
  border-radius: 5px;
  /* border: 1px solid rgb(169, 166, 166); */
  /* padding: 0 2rem; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navlink {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  font-weight: 900;
}
.logo {
  max-height: 3rem;
  color: var(--highLight);
  padding: 0.5rem 1rem;
  border: 0;
  font-family: 'Primeform Pro', sans-serif;
  font-size: 1.2rem;
}

body {
  margin: 0;
}

.mainticket {
  /* border: 1px solid red; */

  padding: 1rem;
}
.menubars {
  position: absolute;
  right: 0.5rem;
  top: 1.4rem;
  font-size: 1.5rem;
  cursor: pointer;
}
/* 
.open-sidenav {
  width: 15%;
  position: relative;
  /* display: none; */
  /* background-color: var(--highLight); */
  /* overflow: hidden; */
/* } */

.close-sidenav {
  /* display: none; */
  width: 2%;
  /* background-color: rgb(185, 185, 220); */
  position: relative;
}

.unclaimed-tickets {
  display: flex;
  width: 49%;
  overflow: overlay;
  font-family: "Roboto Slab", serif;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}
.claimed-tickets {
  display: flex;
  width: 50%;
  border-right: solid rgb(175, 175, 175) 1px;
  overflow: overlay;
  font-family: "Roboto Slab", serif;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}
/* .ticket-board {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding-left: 4%;
} */
.ticket-board {
  width: 95%;
  padding: 1rem;
  margin: auto;
  border: 2px solid var(--gray);
  border-radius: 8px;
  /* padding-top: 1rem; */
  background-color: white;
  height: 700px;
  box-shadow: 6px 5px 5px var(--gray);
}
.portal-text {
  text-align: center;
  width: 20rem;
  height: 2rem;
  position: sticky;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  /* border: 1px solid #222; */
  padding-bottom: 3rem;
  margin: auto;
  color: var(--offBlack);
  border-radius: 2rem;
}
.all-tickets {
  /* background-color: aqua; */
  height: 77%;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  padding: 1rem;
}
.claimed-oneticket {
  background-color: #ddd;
  border: 1px solid #bbb;
  color: #40798c;
  font-size: 0.5rem;
  box-shadow: 3px 2px 2px var(--gray);
  

  /* display: flex;
  justify-content: space-between;
  margin: 5px; */
}
.claimed-oneticket:hover {
  transform: scale(1.05);
  transition: 0.25s;
  color: #40798c;

  background-color: rgb(240, 233, 233);
  border: 1px solid #40798c;
}

.unclaimed-oneticket {
  background-color: #eee;
  border: 1px solid #bbb;
  color: #40798c;
  font-size: 0.5rem;
  box-shadow: 3px 2px 2px var(--gray);
}

.unclaimed-oneticket:hover {
  transform: scale(1.05);
  transition: 0.3s;
  background-color: #eee;
}
.ticket {
  height: 7rem;
  margin: 0.5rem;
  /* padding: 1rem; */
  padding-top: 0.9rem;
  padding-bottom: 0.5rem;
  width: 12rem;
  border-radius: 10px;
  transition: ease-in-out 0.1s;

  text-align: center;
  font-weight: 400;

}

.ticketDescription {
  margin: 0;
  /* height: 120px; */
  /* font-weight: 300; */
  color: var(--highLight);
  font-size: 1rem;
}
.claimedTicketDescription {
  margin: 0;
  height: 120px;
  font-weight: 300;
}
.ticketDesc {
  margin: 0;
  /* height: 120px; */
  /* font-weight: 300; */
  font-size: .9rem;
}
.ticketCat {
  /* font-weight: 300; */
  font-size: .8rem;
}
.ticketNumber {
  margin: 0;
  height: 10px;
  margin-bottom: 0.35rem;
  /* border: 1px solid #1c6f8b6a; */
 padding-bottom: 1.4rem; 
  padding-top: 0.1rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-radius: 20%; 
  color: var(--highLight);
  font-size: .9rem;
}
.claimedTicketNumber {
  margin: 0;
  height: 10px;
  margin-bottom: 0.65rem;
  
  /* padding-bottom: 1.4rem; */
  /* padding-top: 0.1rem; */
  /* padding-left: 0.25rem; */

}

.menu-items {
  margin-top: 1.5rem;
  list-style: none;
  height: 20rem;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.menu-items-hide li {
  display: none;
}
.menu-items li {
  font-weight: 200;
}
.menu-list {
  font-size: 1rem;
  /* background-color: beige; */
  height: 3rem;
  width: 16em;
  padding-left: 4rem;
  padding-top: 1rem;
  cursor: pointer;
}
.menu-list:hover {
  background-color: #1c6f8b;
  transition: 0.8s;
}

.menu-icon {
  margin-right: 0.1rem;
}

a:-webkit-any-link {
  text-decoration: none;
}
.ticket-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  justify-items: center;
  align-items: center;
}

hr {
  width: 70%;
  margin-top: 1rem;
}

.ticket-tag {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tag {
  color: var(--offBlack);
  /* border: 1px solid rgb(234, 79, 55); */
  padding: 0.75rem;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  /* font-weight: 100; */
  font-size: 1.5rem;
}
