.oneticket {
  height: 3rem;
  width: 10rem;
  border: 1px solid red;
  margin: 1rem;
}

.navbar {
  width: 100vw;
  height: 3rem;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-content: center; */
}

.search {
  outline: 0;
  width: 100%;
  height: 80%;
  border-radius: 5px;
  border: 1px solid rgb(169, 166, 166);
  padding: 0 2rem;
}

.sign {
  outline: 0;
  width: 10rem;
  height: 90%;
  border-radius: 5px;
  /* border: 1px solid rgb(169, 166, 166); */
  /* padding: 0 2rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 0.5rem 1rem;
  border: 0;
  cursor: pointer;

}
.signoff {
  border: 0;
  background-color: black;
  color: aliceblue;
  border-radius: 5px;
}
.name {
  outline: 0;
  width: 25rem;
  height: 90%;
  border-radius: 5px;
  /* border: 1px solid rgb(169, 166, 166); */
  /* padding: 0 2rem; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navlink {

  background-color: rgb(224, 228, 237);
  color: rgb(55, 66, 222);
  border-radius: 5px;
}
.usernav {

  background-color: rgb(224, 228, 237);
  color: rgb(55, 66, 222);
  border-radius: 5px;
 
}
