@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&family=Roboto+Slab:wght@100;400&display=swap');

/* * {
    
    --offWhite: #ebf2fa;
    --offBlack: #1d201f;
    --highLight: #f07167;
    --gray: rgb(96, 96, 96);
    --lowLight: #40798c;
  
  } */


.table-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 5rem;
    /* margin: 1rem auto; */
    /* background-color: white; */
    text-decoration: underline var(--highLight);
    font-family: 'Montserrat', sans-serif;
}


.table-text {
    width: 6rem;
    text-align: center;
    padding-top: 0px;
}

.single-ticket {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-bottom: 2px solid var(--gray);
    font-size: 1rem;
    margin-top: .5rem;
    padding-bottom: .5rem;
    font-family: 'Roboto Slab', serif;
    color: var(--gray);
    
    
}

.ticket-div {
    width: 6rem;
    text-align: center;
    padding-top: 0rem;
   
}