/* * {
    padding: 0;
    margin: 0;
    outline: 0;
    zoom: 1;
    -webkit-tap-highlight-color: transparent;
} */

.main-header{
    color: #F07167;
}

.avatar-image{
    margin-left: 4rem;
}


.ticket-submit {
      background-color: #EA4C89;
      border-radius: 8px;
      border-style: none;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-weight: 500;
      height: 40px;
      line-height: 20px;
      list-style: none;
      margin: 0;
      outline: none;
      padding: 10px 16px;
      position: relative;
      text-align: center;
      text-decoration: none;
      transition: color 100ms;
      vertical-align: baseline;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    
    
   
  
}

.ticket-submit,
.ticket-submit:focus {
  background-color: #40798C;
}

.create-Ticket{
    color: #000000;
    text-decoration: none;
    font-family: 'Arial',Arial;
    font-size: 18.0pt;
    font-style: normal;
    font-weight: 400;
}

.span-category{
    color: #000000;
    text-decoration: none;
    font-family: 'Arial',Arial;
    font-size: 10.5pt;
    font-style: normal;
    font-weight: 700;
}

.date-Span{
    color: #000000;
    text-decoration: none;
    font-family: 'Arial',Arial;
    font-size: 10.5pt;
    font-style: normal;
    font-weight: 700;
    margin-bottom: .9rem;
}

option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.ticket-Creation-Container{
    margin-left: 4rem;
}

#urgency-Span{
    color: #000000;
    text-decoration: none;
    font-family: 'Arial',Arial;
    font-size: 10.5pt;
    font-style: normal;
    font-weight: 700;
}

.category-Drop{
    margin-top: .6rem;
    margin-bottom: .8rem;
    width: 300px;
}

.urgency-Drop{
    margin-top: .6rem;
    width: 300px;
    margin-bottom: .9rem;
}

.date-Drop {
    margin-top: .6rem;
    width: 300px;
    margin-bottom: .9rem;
}

.span-Input {
    color: #000000;
    text-decoration: none;
    font-family: 'Arial',Arial;
    font-size: 10.5pt;
    font-style: normal;
    font-weight: 700;
}



.input-Box {
    margin-top: .6rem;
    width: 300px;
    height: 100px;
    margin-bottom: .9rem;
}

.ticket-Table{
    width: 800px;
    margin-left: 2rem;
    margin-bottom: 5rem;
    float: none;
}
.card {
    text-align: center;
}

.ticket-card {
    display: flex;
    justify-content: space-evenly;

}
.user-main{
    margin-left: 15rem;
    display: flex;
    flex-direction: column;
}